$yellow: #F0DB4F;
$black: #323330;
$green: #85B229;
$light-green: #C6FF54;
$purple: #8C17B2;
$light-purple: #D454FF;
$dark-blue: #2D17B2;
$light-blue: #6C54FF;
$cream : #FAFFF0;
$dark-grey: #3E403C;
$grey: #7D7F78;
$light-grey: #BBBFB4;
